#bg_mask {
  position: absolute;
  top: 5%;
  right: 0%;
  z-index: 0;
  visibility: hidden;
  background-color: bisque;
  opacity: 0.8;
} 

#frontlayer {
  visibility: hidden;
  z-index: 1;
} 
#map {
   position:absolute;
   width:100% !important;
   height: 100% !important;   
}